{% extends 'layout.html' %} {% block script %} {% block custom_scripts %} {% endblock custom_scripts %} {% if admin %}
<script type="text/javascript">
window.admin = true;
window.addEventListener("load", function() {
    document.body.setAttribute("admin", true);
});
</script>
{% endif %} {% if map_key %}
<script type="text/javascript">
window.maps = true;
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}&language=pl&libraries=places&callback=init_maps" defer="defer"></script>
{% else %}
<script type="text/javascript">
window.maps = false;
</script>
{% endif %} {% endblock %} {% block content %}
<div id="sidebar">
    <div id="sidebar-control">
        <div id="sidebar-conent">
            <div id="home" class="sidebar-button"></div>
            <div id="list" class="sidebar-button"></div>
            <div id="tech" class="sidebar-button"></div>
            <div id="price" class="sidebar-button"></div>
            <div id="gallery" class="sidebar-button"></div>
            <div id="contact" class="sidebar-button"></div>
        </div>
    </div>
</div>
<div id="content-wrapper">
    <div id="home-panel" class="panel">
        <div class="back-image"></div>
        <div id="info">
            <div class="logo"></div>
            <div class="info-text">
                Wierzymy, że Twoja optymalna kondycja i waga są w Twoim zasięgu. Ty postaw sobie cel, a my będziemy Cię wspierać w dążeniu do jego osiągnięcia.
                <br/>
                W naszym klubie oferujemy najlepszą technologię i przyjazną atmosferę. Nasi instruktorzy krok po kroku poprowadzą Cię do sukcesu.
                <br/>
                Po prostu przyjdź i poczuj się dobrze - z naszym wsparciem w Twojej skórze.
            </div>
            <div id="join" class="standard-button">Dołącz do nas</div>
        </div>
    </div>
    <div id="list-panel" class="panel">
        <div id="training-info">
            <div class="training-info-item">
            Trening z elektrostymulacją trwa 20 minut i zastępuje kilka godzin intensywnej pracy na siłowni
            </div>
            <div class="training-info-item">
            Nadaje się dla osób o różnym stopniu aktywności fizycznej i w różnym wieku
            </div>
        </div>
        <div id="training-ems">
            <div class="training-ems-item">
                <div class="title">Główne efekty treningu EMS</div>
                <b>Utrata wagi</b>
                <br/>
                W ciągu 20 minut treningu z EMS można spalić ponad 500 kcal i zmusić do pracy ponad 500 mięśni z 640 istniejących. Ponadto, każdy trening z EMS przyspiesza metabolizm
                <br/>
                <br/>
                <b>Wzmocnienie mięśni</b>
                <br/>
                Trening EMS jest bardziej skuteczny i daje szybsze efekty niż tradycyjne ćwiczenia
                <br/>
                <br/>
                <b>Ujędrnienie skóry</b>
                <br/>
                Podczas treningu skutecznie likwiduje się cellulitis, bez efektu yo-yo, efekt jest widoczny już po 3 treningu
                <br/>
                <br/>
                <b>Powrót do formy/ budowa kondycji</b>
                <br/>
                Każdy trening uruchamia zarówno mięśnie powierzchowne, jak i głębokie, nie obciążając przy tym stawów
                <br/>
                <br/>
                <b>Eliminacja problemów z kręgosłupem</b>
                <br/>
                Trening EMS wzmacnia mięśnie przykręgosłupowe. Zwiększa się stabilność, przy jednoczesnym obniżeniu napięcia pleców. 
            </div>
            <div class="training-ems-item">
                <div class="title">Dlaczego EMS/EMA trening?</div>
                <table>
                    <tr>
                        <th>Kryteria</th>
                        <th>Tradycyjny trening</th>
                        <th>Trening EMS</th>
                    </tr>
                    <tr>
                        <td>Długotrwałość treningu</td>
                        <td>90-180 minut</td>
                        <td>20 minut</td>
                    </tr>
                    <tr>
                        <td>Zalecana częstotliwość w tygodniu</td>
                        <td>4-6 treningi w tygodniu</td>
                        <td>1-3 treningi w tygodniu</td>
                    </tr>
                    <tr>
                        <td>Widoczność efektu</td>
                        <td>1.5 miesiąca (ok. 15-20 tren.)</td>
                        <td>3-4 trening</td>
                    </tr>
                    <tr>
                        <td>Szybkość spadku wagi / utraty tkanki tłuszczowej</td>
                        <td>Standardowo</td>
                        <td>3x szybciej</td>
                    </tr>
                    <tr>
                        <td>Przyspieszenie metabolizmu</td>
                        <td>Nie</td>
                        <td>Tak</td>
                    </tr>
                    <tr>
                        <td>Trening mięśni głębokich</td>
                        <td>Nie</td>
                        <td>Tak</td>
                    </tr>
                    <tr>
                        <td>Możliwość likwidacji cellulitu</td>
                        <td>Nie</td>
                        <td>Tak</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="tech-panel" class="panel">
        <div id="tech-data">
            <div class="data-row">
                <div class="row-content splash">
                    <div class="title">AmpliTrain</div>
                    <table>
                        <tr>
                            <td class="row-image">
                                <img src="../images/ampli.jpg"/>
                            </td>
                            <td class="row-text">
                                Technologia naszych treningów, czyli EMS i EMA jest stosowana w profesjonalnym sporcie. Z technologii EMS/EMA (elektrostymulacja mięśni oraz elektryczna aktywacja mięśni) korzystają: pływacy, piłkarze, piłkarze ręczni, ciężarowcy, biegaczy i inni sportowcy.
                                <br/>
                                Najbardziej uznani, zawodowi sportowcy, którzy korzystają z technologii treningów EMS i EMA.
                            </td>
                        </tr>
                    </table>                    
                </div>
            </div>
            <div class="data-row">
                <div class="row-content splash">
                    <div class="title">Lipo Light</div>
                    <table>
                        <tr>
                            <td class="row-image">
                                <img src="../images/lipo.jpg"/>
                            </td>
                            <td class="row-text">
                                Jest najbardziej efektywnym urządzeniem do kształtowania sylwetki ciała w swojej klasie. Urządzenie wykorzystuje światło o długości fali rzędu 635 nm i mocy 350 mW, stymulując procesy biologiczne dwufazowo. W fazie pierwszej światło wpływa na krążenie krwi i proces wytwarzania kolagenu oraz elastyny. W fazie drugiej następuje stymulacja komórek tłuszczowych. Błona komórkowa lipocytów po ekspozycji na światło czerwone zmienia polaryzację, co wpływa na otwarcie się kanałów w błonie komórkowej. Następuje zmiana trójglicerydów w kwasy tłuszczowe oraz glicerol do dalszego wykorzystania, jako źródło energii. Zaleca się 7-10 20 minutowych zabiegów w odstępach 2 dniowych. Efekt zabiegu wzmagają ćwiczenia fizyczne.
                            </td>
                        </tr>
                    </table>                     
                </div>
            </div>
        </div>
    </div>
    <div id="price-panel" class="panel">
        <div id="price-data">
            <div class="data-row">
                <div class="row-content splash">
                    <div class="title">Plany treningowe EMS / EMA i Lipo Light</div>
                    <table class="price-list">
                        <tr>
                            <td class="price-list-item">
                                <div class="plan-title">
                                Cennik treningów EMS / EMA
                                </div>
                                <table class="price-list-ems">
                                    <tr>
                                        <td>Trening próbny, cena promocyjna</td>
                                        <td class="item-price">39</td>
                                    </tr>
                                    <tr>
                                        <td>1 trening</td>
                                        <td class="item-price">110</td>
                                    </tr>
                                    <tr>
                                        <td>4 treningi w ciągu miesiąca</td>
                                        <td class="item-price">396</td>
                                    </tr>
                                    <tr>
                                        <td>8 treningów w ciągu miesiąca</td>
                                        <td class="item-price">748</td>
                                    </tr>
                                    <tr>
                                        <td>12 treningów w ciągu miesiąca</td>
                                        <td class="item-price">1056</td>
                                    </tr>
                                    <tr>
                                        <td>16 treningów w ciągu miesiąca</td>
                                        <td class="item-price">1320</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="price-list-item">
                                <div class="plan-title">
                                Cennik Lipo Light
                                </div>
                                <table class="price-list-lipo">
                                    <tr>
                                        <td>1 zabieg</td>
                                        <td class="item-price">70</td>
                                    </tr>
                                    <tr>
                                        <td>1 dodatkowy zabieg wykupiony do treiningu EMS / EMA</td>
                                        <td class="item-price">60</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="data-row">
                <div class="row-content splash">
                    <div class="title">Promocja</div>
                    <div class="promo-info">
                        <table>
                            <tr>
                                <td>
                                    <b>Zaproś znajomych!</b><br/><br/>
                                    Poleć znajomym nasz klub. Za <bh>każdy</bh> trening, wykupiony przez osobę zaproszoną przez Ciebie, dostaniesz <bh>1%</bh> zniżki na Twój <bh>kolejny</bh> plan treningowy.
                                    <br/><br/>
                                    Próg kumulacji zniżek do <bh>50%</bh>.
                                </td>
                                <td>
                                    <b>Przykłady</b><br/><br/>
                                    <ul>
                                        <li>
                                        Jeżeli przyprowadzisz <bh>1</bh> osobę, która wykupi plan <bh>16</bh> treningów, otrzymasz <bh>16%</bh> zniżki na Twój <bh>kolejny</bh> miesięczny plan treningowy.
                                        </li>
                                        <li>
                                        Jeżeli przyprowadzisz <bh>3</bh> osoby, z których każda wykupi po <bh>8</bh> treningów, otrzymasz <bh>24%</bh> zniżki na Twój <bh>kolejny</bh> miesięczny plan treningowy.
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>                     
                </div>
            </div>
        </div>
    </div>
    <div id="gallery-panel" class="panel">
        <div class="gallery-content">
            <div class="gallery-item" type="enter1">
            </div>
            <div class="gallery-item" type="enter2">
            </div>
            <div class="gallery-item" type="tech1">
            </div>
            <div class="gallery-item" type="tech2">
            </div>
            <div class="gallery-item" type="tech3">
            </div>
            <div class="gallery-item" type="train1">
            </div>
            <div class="gallery-item" type="train2">
            </div>
            <div class="gallery-item" type="train3">
            </div>
            <div class="gallery-item" type="kids">
            </div>
            <div class="gallery-item" type="change">
            </div>
            <div class="gallery-item" type="shower1">
            </div>
            <div class="gallery-item" type="shower2">
            </div>
        </div>
    </div>
    <div id="contact-panel" class="panel">
    	<div id="club-info">
    		<div class="club-info-item">
                <div class="logo"></div>
                <table>
                    <tr class="address">
                        <td>
                            ul. Kazimierza Kardasia "Orkana" 4
                            <br/>
                            (dawna Służby Polsce 4)
                        </td>
                        <td></td>
                    </tr>
                    <tr class="phone">
                        <td>+48 792 002 330</td>
                        <td></td>
                    </tr>
                    <tr class="phone">
                        <td>+48 699 853 435</td>
                        <td></td>
                    </tr>
                    <tr class="email">
                        <td>wellnessfit@spoko.pl</td>
                        <td></td>
                    </tr>
                    <tr class="open-hours">
                        <td>
                            <div class="oh-row">Poniedziałek-Piątek: 09:00-19:00</div>
                            <div class="oh-row">Sobota: 10:00-16:00</div>
                            <div class="oh-row info">
                                Możliwe elastyczne godziny otwarcia między <span>07:00 - 22:00.</span>
                                <br/>
                                Zadzwoń i umów się bez dodatkowych opłat!
                            </div>
                        </td>
                        <td></td>
                    </div>
                </table>
                
                <div class="sm-container">
                    <a href="https://facebook.com/ElectroGym-Fit-1868178856809353" target="_blank"><div id="facebook" class="sm"></div></a>
                    <a href="https://instagram.com/" target="_blank"><div id="instagram" class="sm"></div></a>
                    <a href="https://twitter.com/" target="_blank"><div id="twitter" class="sm"></div></a>
                    <a href="https://youtube.com/" target="_blank"><div id="youtube" class="sm"></div></a>
                </div>
    		</div>
            <div class="club-info-item">
                <div id="map"></div>
            </div>
    	</div>
    </div>
</div>
{% endblock %}